.nav ul li:hover{
color: rgba(184, 184, 37, 0.455);
}

/* .bgimg{
    background-image: url("../assets/moviecardimg.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
} */